/* 浅色模式 */

QWidget {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

/* 按钮样式 */
QPushButton {
    background-color: #f0f0f0;
    color: #000000;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 5px 10px;
}

QPushButton:hover {
    background-color: #e0e0e0;
}

QPushButton:pressed {
    background-color: #d0d0d0;
}

/* 文本输入框样式 */
QLineEdit {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 5px;
}

/* 标签样式 */
QLabel {
    color: #000000;
}

/* 滚动条样式 */
QScrollBar:vertical {
    background: #f0f0f0;
    width: 12px;
    margin: 0px 3px 0px 3px;
}

QScrollBar::handle:vertical {
    background: #dcdcdc;
    min-height: 20px;
    border-radius: 5px;
}

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical {
    background: #f0f0f0;
    height: 14px;
    subcontrol-origin: margin;
}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background: #f0f0f0;
}

/* 列表部件样式 */
QListWidget {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 5px;

}

QListWidget::item {
    padding: 5px;
    border-bottom: 1px solid #dcdcdc;
}

QListWidget::item:selected {
    background-color: #e0e0e0;
    color: #000000;
}

/* 文本浏览器样式 */
QTextBrowser {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 5px;
}

/* 纯文本编辑器样式 */
QPlainTextEdit {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 5px;
}

/* 设置发送按钮的样式，使用蓝色调以保持整体色调的一致性 */
#pushButton_send {
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

#pushButton_send:hover {
    background-color: #1976D2;
}

#pushButton_send:pressed {
    background-color: #0D47A1;
}